.footer {
    padding: 15rem 0;
    background-color: $color-grey-dark-3;

    &__navigation {
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        display: inline-block;
        &--list {
            list-style: none;
            color: $color-grey-dark;
        }
        &--link {
            display: inline-block;
            cursor: pointer;
            &:not(:last-child) {
                margin-right: 3rem;
            }
        }
    }

    &__logo {
        width: 25rem;
        height: auto;
    }

    &__logo-box {
        text-align: center;
    }

    &__copyright {
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        display: inline-block;
        color: $color-grey-dark;
    }
}
